<!DOCTYPE html>
<html>
  <head>
    <title>Vistimapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  </head>


  <body class="bg-light">

  <!-- Navigation Bar -->
  <%= render 'layouts/nav' %>

  <!-- Page Content -->
  <div class="container">

<% if notice %>
  <p class="alert alert-success mt-1"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger mt-1"><%= alert %></p>
<% end %>

         <%= yield %>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.6/holder.min.js"></script>
  </body>
</html>
