<div class="row my-3 p-3 bg-white rounded box-shadow">
   <div class="col-sm-8 justify-content-start">
   <h1>Profile: <span><%= @user.name %></span></h1><small>@<%= @user.username %></small>
     <p class="bio" data-type="textarea" data-pk="<%= @user.id %>" data-title="Enter your bio" data-url="<%= url_for(action: 'update', format: 'json') %>" style="font-size: 1rem;"><%= @user.bio %>
     </p>
   </div>
   <div class="col-sm-4 justify-content-end">
    <div class="row">
     <span id="suggestUpload">Click to update profile picture</span>
     <% if @user.avatar.attached? %>
        <% # image_tag @user.avatar.variant(resize: "x250") %>
        <%= image_tag @user.avatar, height: "250", id: "bio-img" %>
     <% else %>
        <img data-src="holder.js/250x250" style="float:right;" />
     <% end %>
     <input style="display:none; " id="fileupload" type="file" name="avatar" data-url="<%= url_for(action: 'update', format: 'json') %>">
    </div>
     <div class="row" style="display:block;"><p>Last access: <%= time_ago_in_words(@user.last_access) rescue "a long time"%> ago</p>
     <p>Roles: 
        <% @user.roles.each do |role| %>
        <span class="role"><%= role.name %></span>
        <% end %>
     </p>
     </div>
   </div>
</div>
<div class="row">
 <div class="col-md-6">
   <div class="my-3 p-3 bg-white rounded box-shadow">
     <h6 class="border-bottom border-gray pb-2 mb-0">Recent activity</h6>

   <% @user.comments.each do |comment| %>
   <div class="media text-muted pt-3">
      <p>Made a comment in <b>"<%= link_to comment.complaint.title, comment.complaint %>"</b></p>
   </div>

   <% end %>
   <% @user.complaints.each do |complaint| %>
   <div class="media text-muted pt-3">
      <p>Wrote a new complaint: <%= link_to complaint.title, complaint %></p>
   </div>
   <% end %>

   </div>


 </div>
 <div class="col-md-6">
   <div class="my-3 p-3 bg-white rounded box-shadow">
     <h6 class="border-bottom border-gray pb-2 mb-0">Recent complaints</h6>

    <% @user.complaints.each do |complaint| %>
   <div class="media text-muted pt-3">
      <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" class="mr-2 rounded" />
      <p><%= link_to complaint.title, complaint %> </p>
   </div>

    <% end %>

   <% if @user.complaints.count == 0 %>
    <div class="media text-muted pt-3">
      <p>No recent complaints</p>
   </div>
   <% end %>

   </div>
 </div>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<% if user_signed_in? and current_user.id == @user.id %>
<script>
    var logged_user_id = <%= current_user.id %>;
</script>

<% end %>
